html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Content {
  text-align: center;
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
}

#CoverArt {
  border-radius: 50%;
  width: 30%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 0.5rem solid black;
}

.iframe-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.iframe-container::before {
    content: "";
    padding-top: 56.25%;
    display: block;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Summary {
  margin-top: 2rem;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}